@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --spicy-red: #e63946;
  --naan-bread: #f5deb3;
  --background-gradient: linear-gradient(to bottom right, #74ebd5, #acb6e5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: var(--naan-bread);
  background-image: var(--background-gradient);
  color: black;
}

header {
  text-align: center;
  margin: 20px auto;
}

main {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

nav > ul > li {
  list-style: none;
  margin: 15px auto;
  font-size: 1.5rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

nav > ul > li > a:hover {
  color: var(--spicy-red);
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

img:hover {
  transform: scaleX(-1);
}

.ingredients,
.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients h2,
.instructions h2 {
  margin: 30px;
}

.ingredients ul,
ol {
  list-style-type: decimal;
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
}

.instructions ul,
ol {
  list-style-type: disc;
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
}
li:hover::before {
  content: "🌶️";
  display: inline-block;
  margin-right: 8px;
}
footer {
  margin-top: 20px;
  text-align: center;
}

.back-btn:link,
.back-btn:hover,
.back-btn:active,
.back-btn:visited {
  color: var(--spicy-red);
  text-decoration: none;
  font-size: 1rem;
}
