@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --spicy-red: #e63946;
  --tumeric-yellow: #f1c40f;
  --mint-green: #27ae60;
  --cumin-brown: #8d6e63;
  --coriander-green: #2ecc71;
  --naan-bread: #f5deb3;
  --rice-white: #f0e68c;
  --charcoal-tandoor: #34495e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: var(--naan-bread);
  background-image: linear-gradient(to bottom right, #74ebd5, #acb6e5);
  color: black;
}

.pak-recipes-heading, .lassi-heading, .tikka-heading {
  text-align: center;
  margin: 20px auto;
}

.section-1 {
  text-align: center;
}

.section-1 p {
    font-size: 1.1rem;;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

img:hover {
  transform: scaleX(-1);
}

nav > ul > li {
  list-style: none;
  margin: 15px auto;
  font-size: 1.5rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

.bold > a:hover {
  color: var(--spicy-red);
}

.main-page-footer {
  margin-top: 20px;
  text-align: center;
}

span {
    bold;
}

/* Lassi section the above section is index.html page */
.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


